<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net40-client" />
  <package id="FCTB" version="2.16.21.0" targetFramework="net40-client" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net40-client" />
  <package id="Mono.Cecil" version="0.10.3" targetFramework="net40-client" />
  <package id="Mono.Nat" version="1.2.24.0" targetFramework="net40-client" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net40-client" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net40-client" />
  <package id="Vestris.ResourceLib" version="2.1.0" targetFramework="net40-client" />
</packages>